<ion-header>
    <h1 style="text-align: center;">Part 2: Fitts' Test (Tutorial)</h1>
  </ion-header>

  <div class="background">
      <ion-card class="ion-card">
          <ion-card-header>
    
            <ion-card-title style="text-align: center;">Click the circles as they appear</ion-card-title>
          </ion-card-header>
    
          <ion-card-content style="text-align: center;">
              
            <ion-item *ngFor="let detail of circleDatabase; let i = index">
              <ion-list>
              <h2>{{detail.ID}}</h2>
              </ion-list>
              </ion-item>

              <ion-icon name="arrow-dropdown-circle" id="center" (click)="testClicks()"></ion-icon>
              <p id="centerize">Re-calibrate</p>

        </ion-card-content>

        <div style="margin-top: 200px; margin-left: 40%">
        <ion-button (click)="toInst()">Back to instructions</ion-button>
        <div class="divider"></div>
        <ion-button (click)="toReal()">Take the real test</ion-button>
        </div>
        </ion-card>
    </div>