.background {
    background-color: rgb(233, 233, 233);
    height: 870px;
}

.ion-card {
    background-color: white;
    z-index: 1;
    margin-top: 10px;
    // full width is 1486
}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
  }

.calibrate {
    font-size: 60px;
    position: absolute;
    margin-left: 713px;
    margin-top: 30px;
}

.smallCircle {
    border: none;
    background-color: rgb(0, 236, 0);
    margin-left: 685px;
    margin-bottom: 120px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
}