.background {
    background-color: rgb(233, 233, 233);
    height: 870px;
}

.ion-card {
    background-color: white;
    z-index: 1;
    margin-top: 10px;
}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
  }