<ion-header>
  <h1 style="text-align: center;">Part 1: Questions</h1>
</ion-header>
<div class="background">
  <div class="squish">

    <!-- ----------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>What is your age?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">
              
              <input type="radio" name="ageQ" value="18-21">18-21<br>
              <input type="radio" name="ageQ" value="22-25">22-25<br>
              <input type="radio" name="ageQ" value="26-29">26-29<br>
              <input type="radio" name="ageQ" value="30-33">30-33<br>
              <input type="radio" name="ageQ" value="34+">34+
    <!-- -------------------------------------------------------------------------------------- -->
    </ion-list></ion-card-content></ion-card>
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>What is your gender?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">

          <input type="radio" name="genderQ" value="Male">Male<br>
          <input type="radio" name="genderQ" value="Female">Female<br>
          <input type="radio" name="genderQ" value="Prefer not to say">Prefer not to say<br>

        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- --------------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>On average, how often do you use a computer per day?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">

          <input type="radio" name="freqQ" value="0-1 hour">0-1 hour<br>
          <input type="radio" name="freqQ" value="1-2 hours">1-2 hours<br>
          <input type="radio" name="freqQ" value="3-4 hours">3-4 hours<br>
          <input type="radio" name="freqQ" value="4-5 hours">4-5 hours<br>
          <input type="radio" name="freqQ" value="5+ hours">5+ hours

        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ---------------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>Do you primarily use a mouse or a track pad?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 80%; margin-left: 10%;">

          <input type="radio" name="mouseQ" value="mouse">Over 50% of computer use with a mouse<br>
          <input type="radio" name="mouseQ" value="trackpad">Over 50% of computer use with a track pad

        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ----------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>Do you have any sort of visual impairment? <br>(Use of glasses, partial blindness, or color
          blindness)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">

          <input type="radio" name="impairQ" value="yes">Yes<br>
          <input type="radio" name="impairQ" value="no">No<br>
          <input type="radio" name="impairQ" value="prefer not to answer">Prefer not to answer<br>

        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ----------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>Do you now, or have you ever had a condiiton that inhibits movement of the arm or wrist? <br>
          (Example: carpal tunnel)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">

          <input type="radio" name="condQ" value="yes">Yes<br>
          <input type="radio" name="condQ" value="no">No<br>
          <input type="radio" name="condQ" value="prefer not to say">Prefer not to say<br>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ----------------------------------------------------------------------------- -->
    <ion-button expand="block" (click)="presentAlertConfirm()">Continue</ion-button>

  
