<ion-header>
  <h1 style="text-align: center;">Part 1: Questions</h1>
</ion-header>
<div class="background">
  <div class="squish">

    <!-- ----------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>What is your age?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">
              <form #myForm="ngForm" validate>
              <input type="radio" name="ageQ" value="18-21" [(ngModel)]="age.value" value="18-21" (change)="onAge1Change($event)">18-21<br>
              <input type="radio" name="ageQ" value="22-25" [(ngModel)]="age.value" value="22-25" (change)="onAge2Change($event)">22-25<br>
              <input type="radio" name="ageQ" value="26-29" [(ngModel)]="age.value" value="26-29" (change)="onAge3Change($event)">26-29<br>
              <input type="radio" name="ageQ" value="30-33" [(ngModel)]="age.value" value="30-33" (change)="onAge4Change($event)">30-33<br>
              <input type="radio" name="ageQ" value="34+" [(ngModel)]="age.value" value="34+" (change)="onAge5Change($event)">34+
              <div *ngIf="isSubmitted && myForm.invalid">
                <p>Please select a value</p>
             </div>
            </form>
              <!-- -------------------------------------------------------------------------------------- -->
    </ion-list></ion-card-content></ion-card>
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>What is your gender?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">
          <form #myForm="ngForm" validate>
          <input type="radio" name="genderQ" value="Male" [(ngModel)]="gender.value" (change)="onGender1Change($event)">Male<br>
          <input type="radio" name="genderQ" value="Female" [(ngModel)]="gender.value" (change)="onGender2Change($event)">Female<br>
          <input type="radio" name="genderQ" value="Prefer not to say" [(ngModel)]="gender.value" (change)="onGender3Change($event)">Prefer not to say<br>
          <div *ngIf="isSubmitted && myForm.invalid">
            <p>Please select a value</p>
         </div>
        </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- --------------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>On average, how often do you use a computer per day?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">
          <form #myForm="ngForm" validate>
          <input type="radio" name="freqQ" value="0-1 hour" [(ngModel)]="freq.value" (change)="onFreq1Change($event)">0-1 hour<br>
          <input type="radio" name="freqQ" value="1-2 hours" [(ngModel)]="freq.value" (change)="onFreq2Change($event)">1-2 hours<br>
          <input type="radio" name="freqQ" value="3-4 hours" [(ngModel)]="freq.value" (change)="onFreq3Change($event)">3-4 hours<br>
          <input type="radio" name="freqQ" value="4-5 hours" [(ngModel)]="freq.value" (change)="onFreq4Change($event)">4-5 hours<br>
          <input type="radio" name="freqQ" value="5+ hours" [(ngModel)]="freq.value" (change)="onFreq5Change($event)">5+ hours
          <div *ngIf="isSubmitted && myForm.invalid">
            <p>Please select a value</p>
         </div>
        </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ---------------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>Do you primarily use a mouse or a track pad?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 80%; margin-left: 10%;">
          <form #myForm="ngForm" validate>
          <input type="radio" name="mouseQ" value="mouse" [(ngModel)]="mouse.value" (change)="onMouse1Change($event)">Over 50% of computer use with a mouse<br>
          <input type="radio" name="mouseQ" value="trackpad" [(ngModel)]="mouse.value" (change)="onMouse2Change($event)">Over 50% of computer use with a track pad
          <div *ngIf="isSubmitted && myForm.invalid">
            <p>Please select a value</p>
         </div>
        </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ----------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>Do you have any sort of visual impairment? <br>(Use of glasses, partial blindness, or color
          blindness)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">
          <form #myForm="ngForm" validate>
          <input type="radio" name="impairQ" value="yes" [(ngModel)]="impair.value" (change)="onImpair1Change($event)">Yes<br>
          <input type="radio" name="impairQ" value="no" [(ngModel)]="impair.value" (change)="onImpair2Change($event)">No<br>
          <input type="radio" name="impairQ" value="prefer not to answer" [(ngModel)]="impair.value" (change)="onImpair3Change($event)">Prefer not to answer<br>
          <div *ngIf="isSubmitted && myForm.invalid">
            <p>Please select a value</p>
         </div>
        </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ----------------------------------------------------------------------------- -->
    <ion-card class="ion-card">
      <ion-card-header>

        <ion-card-title>Do you now, or have you ever had a condition that inhibits movement of the arm or wrist? <br>
          (Example: carpal tunnel)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="width: 40%; margin-left: 30%;">
          <form #myForm="ngForm" validate>
          <input type="radio" name="condQ" value="yes" [(ngModel)]="cond.value" (change)="onCond1Change($event)">Yes<br>
          <input type="radio" name="condQ" value="no" [(ngModel)]="cond.value" (change)="onCond2Change($event)">No<br>
          <input type="radio" name="condQ" value="prefer not to say" [(ngModel)]="cond.value" (change)="onCond3Change($event)">Prefer not to say<br>
          <div *ngIf="isSubmitted && myForm.invalid">
            <p>Please select a value</p>
         </div>  
        </form>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- ----------------------------------------------------------------------------- -->
    <ion-button expand="block" (click)="presentAlertConfirm()">Continue</ion-button>

  
