.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.squish {
  width: 40%;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
}

.divider{
  width:20%;
  height:auto;
  display:inline-block;
}