<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Fitts' Law Test</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- ================================================================================================= -->

<ion-content>
  <ion-card class="welcome-card" style="text-align: center">
    <img
      src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/white-boxes-abstract-3d-render-loopable-animation_s2e0cmuk__F0000.png"
      alt="" />
    <ion-card-header>
      <ion-card-subtitle>Welcome to the Fitts' Law Test</ion-card-subtitle>
      <ion-card-title>Non-disclosure Agreement</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Text contents here</p>
    </ion-card-content>
    <button class="button medium-btn button-assertive" routerLink="/Finish">
      Decline
    </button>
    <div class="divider"></div>
    <button class="button medium-btn button-assertive" routerLink="/FittsTest">
      Agree
    </button>
  </ion-card>


  