<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Fitts' Law Test</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- ================================================================================================= -->

<ion-content>
  <ion-card class="welcome-card" style="text-align: center">
    <img
      src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/white-boxes-abstract-3d-render-loopable-animation_s2e0cmuk__F0000.png"
      alt="" />
    <ion-card-header>
      <ion-card-subtitle>Welcome to the research study!</ion-card-subtitle>
      <ion-card-title>Non-disclosure Agreement</ion-card-title>
    </ion-card-header>
    <ion-card-content class="squish">
      <p>Good Morning/Afternoon. <br>

        We are conducting a research study for our IT482 class to determine the accuracy of Fitts' Law. Fitts' Law is a
        theoretical formula that estimates the time it will take a user to move their cursor and click on an Icon on
        screen based on the size and distance of the icon from the initial cursor position.<br><br>

        Prior to the administration of the Study we will be polling users for demographic information. Please be assured
        that your responses will be kept completely confidential, this information is only going to be used to determine
        if there is any significant differences in performance between various groups of individuals (i.e.-women are
        faster than men).<br><br>

        Participation in this study is completely voluntary, and your decision whether or not to participate will not
        affect your relationship with Minnesota State University, Mankato, and refusal to participate will involve no
        penalty or loss of benefits. <br><br>

        Your time is very important to us, so to prepare you we plan on the survey taking approximately 1 minute to
        complete, a 1 minute tutorital, and approximately 25 minutes for the study itself. This means we expect it to
        take between 27-30minutes of your time to complete. Again your participation in this research is voluntary. You
        have the right to withdraw at any point during the study, for any reason, and without any prejudice.<br><br>

        CAUTION: This test will require participants to move a mouse cursor back and forth across the screen and click
        on certain icons. As this will require repeatative motion those who have perviously existing conditions such as
        carpal tunnel may find this study aggrivates those conditions. Please let us know at any point during the study
        if you experience pain in the hand or wrist and cannot continue.<br><br>

        If you would like to contact the Principal Investigator in the study to discuss this research, please e-mail
        Chris Lundquist at christopher.lundquist@mnsu.edu.<br><br>

        By clicking the button below, you acknowledge that your participation in the study is voluntary, you are 18
        years of age, and that you are aware that you may choose to terminate your participation in the study at any
        time and for any reason.<br><br>

        Please note that this survey will be best displayed on a laptop or desktop computer. Some features may be less
        compatible for use on a mobile device. </p>

        <ion-button routerLink="/Finish">
          Decline
        </ion-button>
        <div class="divider"></div>
        <ion-button routerLink="/FittsTest">
          Agree
        </ion-button>
    </ion-card-content>

  </ion-card>