<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- ================================================================================================= -->

<ion-content>
  <ion-card class="welcome-card" style="text-align: center">
    <img
      src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/white-boxes-abstract-3d-render-loopable-animation_s2e0cmuk__F0000.png"
      alt="" />
    <ion-card-header>
      <ion-card-subtitle>Welcome to</ion-card-subtitle>
      <ion-card-title>ImagineThis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Select category from the menu</p>
    </ion-card-content>
  </ion-card>


  